.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c {
    flex-flow: column;
}

.texCen {
    text-align: center;
}

#progSearch * {
    box-sizing: border-box;
    position: relative;
}

#progSearch {
    width: 100%;
    min-height: 100vw;
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    overflow-y: auto;
}

/* HIDING before one */

.gcsc-more-maybe-branding-root,
#cse-footer,
.gsst_b {
    display: none !important;
}

.gsc-input .gsc-input-box {
    border-radius: 100px !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 1px rgba(0, 0, 0, .09);
    border-color: #0002;
}

.ico {
    width: 35px;
    height: 35px;
}

/* for header */
#progSearch #logoPanPS {
    width: 200px;
    justify-content: flex-start;
    padding-left: 25px;
}

.topPanPS {
    justify-content: flex-start;
}

.insearchIcon {
    display: flex;
}

.insearchIcon .ico {
    width: 24px;
    opacity: .6;
    margin: 0 5px;
    left: -31px;
}


.gsc-wrapper {
    max-width: 1150px !important;
}

.gsc-tabsArea {
    text-transform: uppercase;
}

.gsc-tabsArea .gsc-tabHeader {
    font-size: 13px;
}

.gsc-tabHeader.gsc-tabhActive,
.gsc-refinementHeader.gsc-refinementhActive {
    color: #000 !important;
    font-weight: bold !important;
    border-color: #000 !important;
}

.gsc-resultsRoot.gsc-tabData.gsc-tabdActive {
    display: flex !important;
    align-items: flex-start;
}

.suggBox {
    width: 400px;
}

.suggBox .sugg {
    border: 1px solid #0003;
    border-radius: 99px;
    margin: 10px 0;
    justify-content: flex-start;
    padding: 0 12px;
    cursor: pointer;
    color: #000c;
    text-decoration: none;
}

.suggBox .sugg:hover {
    text-decoration: underline;
}

.suggBox .sugg .ico {
    width: 20px;
    margin: 10px;
}

.suggBox table {
    width: 700px;
    margin-bottom: 200px;
}
